



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.accordion{
  width:100%;
}

hr {
  color: #000;
}

#headSection p {
  font-size: 32px;
  text-align: center;

}
.socialList {
  list-style-type: none;

}
.socialList li {
  display: inline;
}

.socialList li a{
  color: white;
  text-decoration: none;
}
#socialRow{
  padding: 10px;
}
#SocialIcon {
  font-size: 24px;
  padding: 10px;
  color:white;
  transition: ease-in-out .2s;
}
#SocialIcon:hover {
  font-size: 32px;
}


#overlay {
  background: #92d3ff;
  border: 1px solid black;
  box-shadow: 1px 10px 19px 1px #000000;
  position: absolute;
  margin-top: 25px;
  border-radius: 10px;
  z-index: 1;
}

#particles-js {
  background-color: #305182;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

@media only screen and (min-width: 767px) {
  #socialHeader{
    display:none;
  }
  #socialHeaderText {
    display:inline;
  }
}
@media only screen and (max-width: 781px) {
  #social{
    display:none;
  }
  #socialHeaderText {
    display: none;
  }
}